// Text Colors
$COLOR_TEXT: #ffffff;

// Button Colors
$COLOR_BTN_GRN: #53a42e;
$COLOR_BTN_GRN_HOVER: #046d12;
$COLOR_BTN_RED: #d40909;
$COLOR_BTN_RED_HOVER: #a7040c;
$COLOR_BTN_GRY: #686868;
$COLOR_BTN_GRY_HOVER: #222121;
$COLOR_BTN_BLU: #097bfd;
$COLOR_BTN_BLU_HOVER: #062fb6;
$COLOR_BTN_CYN: #0592b6;
$COLOR_BTN_CYN_HOVER: #04708b;

// UI color
$COLOR_UI_WHITE: #ffffff;
$COLOR_UI_BLACK: #0e0d0d;
$Color_UI_BG: #041e44;

// Font
$FONT_SIZE_REGULAR: 22px;
